{% extends 'base.html.twig' %}

{% block title %}Edit Foo{% endblock %}

{% block body %}
    <h1>Edit Foo</h1>

    {{ include('foo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('foo_index') }}">back to list</a>

    {{ include('foo/_delete_form.html.twig') }}
{% endblock %}
