{% extends 'base.html.twig' %}

{% block title %}New Foo{% endblock %}

{% block body %}
    <h1>Create new Foo</h1>

    {{ include('foo/_form.html.twig') }}

    <a href="{{ path('foo_index') }}">back to list</a>
{% endblock %}
